<h1 class="text-center my-4">Editar tipo</h1>

<div class="container bg-warning">
       <%= render 'form', type: @type %>

       <%= link_to 'Show', @type, class: "btn" %> |
       <%= link_to 'Back', types_path, class: "btn" %>
</div>

