<h1 class="text-center my-4">Crear nuevo tipo</h1>

<div class="container text-white bg-warning">
       <%= render 'form', type: @type %>

       <%= link_to 'Back', types_path, class: "btn" %>
</div>

