<h1 class="text-center my-4">Editar categoria</h1>

<div class="bg-warning text-dark container">
       <%= render 'form', category: @category %>

       <%= link_to 'Volver atras', categories_path, class: "btn" %>
</div>

