<h1 class="text-center my-4">Crear nueva categoria</h1>
<div class="bg-warning text-dark container">
<%= render 'form', category: @category %>

<%= link_to 'Back', categories_path, class: "btn" %>
</div>

